data/flows.json
[
    {
        "id": "525869ac.9121e",
        "type": "tab",
        "label": "Manager",
        "disabled": false,
        "info": ""
    },
    {
        "id": "53aac241.0d72f4",
        "type": "tab",
        "label": "Instance",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ba3ba5c7.caf388",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "$(MQTT_BROKER)",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "325afec4.a68d8a",
        "type": "mqtt in",
        "z": "525869ac.9121e",
        "name": "",
        "topic": "instances/#",
        "qos": "2",
        "broker": "ba3ba5c7.caf388",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "12a79661.0f9a22",
                "a73bf4b.8686308"
            ]
        ]
    },
    {
        "id": "12a79661.0f9a22",
        "type": "debug",
        "z": "525869ac.9121e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd494072.d21298",
        "type": "inject",
        "z": "53aac241.0d72f4",
        "name": "",
        "topic": "$(INSTANCE_TOPIC)",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "ddfba632.207e58"
            ]
        ]
    },
    {
        "id": "b2a09e7d.2a32e",
        "type": "mqtt out",
        "z": "53aac241.0d72f4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "ba3ba5c7.caf388",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "a73bf4b.8686308",
        "type": "join",
        "z": "525869ac.9121e",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "f315f389.4a9d3"
            ]
        ]
    },
    {
        "id": "d08b17fd.8d556",
        "type": "http request",
        "z": "53aac241.0d72f4",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "url": "http://thecatapi.com/api/images/get?format=src&type=gif",
        "tls": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "3789e244.25ae06"
            ]
        ]
    },
    {
        "id": "3789e244.25ae06",
        "type": "function",
        "z": "53aac241.0d72f4",
        "name": "",
        "func": "msg.payload = msg.payload.toString('base64');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "b2a09e7d.2a32e"
            ]
        ]
    },
    {
        "id": "15b8c83d.ece0c",
        "type": "template",
        "z": "525869ac.9121e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{#flow.instances}}\n  <img src=\"data:image/png;base64, {{path}}\" />\n{{/flow.instances}}\n      ",
        "output": "str",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "58969d58.80ea44"
            ]
        ]
    },
    {
        "id": "a1fbd2d.5b94a3",
        "type": "http in",
        "z": "525869ac.9121e",
        "name": "",
        "url": "/cats",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "15b8c83d.ece0c"
            ]
        ]
    },
    {
        "id": "58969d58.80ea44",
        "type": "http response",
        "z": "525869ac.9121e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "a1cb388a.58e798",
        "type": "change",
        "z": "525869ac.9121e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "instances",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f315f389.4a9d3",
        "type": "change",
        "z": "525869ac.9121e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$each(payload, function($v, $k) {{\"path\": $v, \"hostname\": $k}})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "363025f8.341f3a",
                "a1cb388a.58e798"
            ]
        ]
    },
    {
        "id": "363025f8.341f3a",
        "type": "debug",
        "z": "525869ac.9121e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "ddfba632.207e58",
        "type": "switch",
        "z": "53aac241.0d72f4",
        "name": "",
        "property": "role",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "instance",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "d08b17fd.8d556"
            ]
        ]
    },
    {
        "id": "233a5b0b.1f446c",
        "type": "inject",
        "z": "53aac241.0d72f4",
        "name": "",
        "topic": "",
        "payload": "$(ROLE)",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "5a9496c4.320f48"
            ]
        ]
    },
    {
        "id": "5a9496c4.320f48",
        "type": "change",
        "z": "53aac241.0d72f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "role",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2a3af5.df9318",
        "type": "template",
        "z": "525869ac.9121e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<ul>\n{{#flow.instances}}\n  <li>{{hostname}}</li>\n{{/flow.instances}}\n</ul>\n      ",
        "output": "str",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "92c85c53.000238"
            ]
        ]
    },
    {
        "id": "1bcb377b.b1e5d1",
        "type": "http in",
        "z": "525869ac.9121e",
        "name": "",
        "url": "/hostnames",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "fa2a3af5.df9318"
            ]
        ]
    },
    {
        "id": "92c85c53.000238",
        "type": "http response",
        "z": "525869ac.9121e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 280,
        "wires": []
    }
]
